<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>

        <add key="0" value="Default"/>
        <add key="1" value="Login"/>
        <add key="2" value="PlayerUpdate"/>
        <add key="3" value="Move"/>
        <add key="4" value="JoinMap"/>
        <add key="5" value="LeaveMap"/>
        <add key="6" value="Chat"/>
        <add key="7" value="EquipPart"/>
        <add key="8" value="Notification"/>
        <add key="9" value="Pong"/>
        <add key="10" value="Experience"/>
        <add key="11" value="MoveToArea"/>
        <add key="12" value="PlayerDataLoad"/>
        <add key="13" value="PlayerInventoryLoad"/>
        <add key="14" value="AvatarDataUpdate"/>
        <add key="15" value="AvatarCombat"/>
        <add key="16" value="PlayerRespawn"/>
        <add key="17" value="SkillLoad"/>
        <add key="18" value="ShopLoad"/>
        <add key="19" value="QuestLoad"/>
        <add key="20" value="PlayerInventoryUpdate"/>
        <add key="21" value="PlayerInventoryRemove"/>
        
    </appSettings>
</configuration>